.wrapper {
    width: 800px;
    margin: 0 auto;
}

.name a {
    font-size: 48px;
    text-decoration: none;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav.nav {
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header > nav > a {
    display: inline-block;
    padding: 0 30px
}

.article {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #CCC;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
}

.paging {
    display: table;
    width: 100%;
}

.next {
    float: right;
}

.prev {
    float: left;
}

@media screen and (max-width: 980px) {
    .wrapper {
        width: 100%;
    }
}